*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.movies{
  max-width:720px;
  margin:0 auto;
}
.movie{
  display:grid;
  grid-template-columns: auto 1fr;
  background-color:#000;
  color:#fff;
}
.poster{
  height: 250px;
}
.backdrop{
  position: absolute;
  top:0;
  left:0;
  opacity: .2;
  height: 250px;
  width:100%;
  object-fit: cover;
}
.data{
  position:relative;
  padding:20px;
}
p{
  opacity: .5;
  margin-top: 10px;
  line-height: 1.4rem;
}